#chat-screen {
  background-color: #9db5c5;
  height: 11000vh;
}

/* status-bar 고정 */
/* alt-header고정 */
#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  /* box-sizing 설정해주는 이유는 브라우저에서 자동적용되는 box-size 값 없애려고 */
  box-sizing: border-box;
  background-color: #9db5c5;
}

#chat-screen .status-bar {
  /* z-index는 div가 있는 위치가 맨 앞에서부터 몇번째인지를 나타내.
    layer의 순서가 몇번째인지 나타내는거 */
  /* z-index의 기본값은 0이다. */
  /* z-index는 absolute position이나 fixed position에 대해 설정할 수 있다. */
  z-index: 2;
}

/* alt-header와 status bar 사이 간격 */
#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

.main-chat {
  margin-top: 150px;
}
