#friends-display-link {
  text-align: center;
  display: block;
  background-color: #faf9fa;
  padding: 15px 0px;
  font-size: 16px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  padding: 5px;
}
