/* unread 빨간 표시는 한 곳에만 쓰이지 않기 때문에
따로 파일을 만들어줬다. */
.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  /* 원을 만들고 싶으면, 사각형 width의 반을 값으로 쓰면된다. */
  border-radius: 15px;
  /* text 1을 가운데 오게 한다. */
  /* 하지만, 이렇게 사용하면 적용이 안돼.
    왜?? 아래에 있는 display:block 때문이지. */
  /* 그래서 아래 display:block을 지워버리자 */
  /* display: flex라고 해줘야 span 태그는 block 요소로 바뀐다. */
  display: flex;
  justify-content: center;
  align-items: center;
  /* display:block을 사용한 이유는 nav__notification은 <span />태그이기 떄문에 
    width와 height이 적용이 안돼. 그래서 적용되게 하려면 display:block사용해야해 */
  /* <span>은 inline 요소 */
  /* inline 요소는 콘텐츠의 흐름을 끊지 않고, 요소를 구성하는 태그에 할당된 공간만 차지 */
  /* display: block; */
  color: white;
  font-weight: 600;
}
