/* 아래 nev bar */
.nav {
  /* 그 어떠한 걸해도 뭔가가 계속 그 자리에 있길 원할 때 */
  position: fixed;
  bottom: 0px;
  /* 스크린의 width를 100% 차지한다. */
  width: 100%;
  background-color: hsl(300, 8%, 97%);
  /* padding값을 줬기때문에 css는 box값을 엄청 크게줬어. width 100% + 20px*/
  padding: 20px 50px;
  /* padding값을 따로 줬기 때문에 ellipsis 아이콘이 보이지 않았어. */
  /* ex) 내가 box를 width:200px, padding:50px이라는 값을 주면 css는 
  내가 입력한 width:200px의 값을 유지하기 위해 총 box 사이즈를 250px으로 만들어
  그래서 내가 생각했던 것보다 항상 사이즈가 큰 box가 보여진다.
  나는 box 사이즈가 150px이 되도 괜찮으니(padding까지 합치면, 실제로는 200px인 box가 맞아)
  내가 padding을 줘도 box사이즈를 추가로 늘리지 말라는 코드를 추가로 작성해줘야해 */
  /* box-sizing: border-box는 padding을 줘도 내 box사이즈를 늘리지(변경하지) 말아줘. */
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* 아이콘이 가로로. 균등하게 배치 */
.nav__ul {
  display: flex;
  justify-content: space-between;
}
/* 아이콘 컬러 */
.nav__link {
  color: #2d2e38;
  position: relative;
}

/* unread 아이콘 */
/* unread notification이 총 두개가 있는데,
하나는 position:absolute가 필요없고,
nav bar에 있는건 position:absolute가 필요하다.
그래서 position:absolute를 제외한 같은 코드는 badge.css로 옮겨두었다 */
.nav__notification {
  /* unread 부분을 메세지 아이콘과 위로 겹치게 해야해 */
  position: absolute;
  /* position:absolute만 사용하면 body를 기준 삼기 때문에 unread는 화면 맨 오른쪽에서 5px만큼 떨어진다. */
  /* 그래서 nav__nofitication을 감싸고 있는 nav__link에 display:relative를 작성해준다. */
  /* position:absolute는 가장 가까운 relative를 가진 부모 기준으로 움직인다. */
  left: 20px;
  bottom: 15px;
}

.nav__notification--dot {
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 2.5px;
  /* <span>이기 때문에 flex지정 */
  display: flex;
  position: absolute;
  bottom: 26px;
  left: 31px;
}
