/* header 돋보기, 음악, 설정 아이콘 등 */
.screen-header {
  /* 모든 것들이 나란히 정렬되야하니, display:flex 사용 */
  display: flex;
  justify-content: space-between;
  /* 아이콘들이 friends 텍스트와 중앙정렬 되어 있지 않아. 아이콘들의 교차축을 옮기기 위해서 사용*/
  align-items: center;
  margin: var(--horizontal-space);
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  /* 돋보기와 톱니바퀴 사이 간격 */
  margin-left: 25px;
}

.screen-header__icons {
  /* 돋보기가 톱니바퀴가 가로로 정렬 배치되야함 */
  position: relative;
}

/* main-screen 내에 들어갈 모든 요소에 padding 효과주기
모든 screen에는 main-screen 갖고 있음 */
.main-screen {
  padding: 25px;
}
